/*Start Variables*/
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-radius: 6px;
    --section-background: #ececec;
}

/*End Variables*/

/*Start Global Rules*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

body {
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*Start Main Title*/

.main-title {
    margin: 0 auto 80px;
    border: 1px solid black;
    padding: 10px 20px;
    width: fit-content;
    font-size: 30px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    transition: var(--main-transition);
}

    .main-title::before,
    .main-title:after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: var(--main-color);
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -moz-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        transition: var(--main-transition);
    }

    .main-title::after {
        right: -30px;
    }

    .main-title::before {
        left: -30px;
    }

    .main-title:hover {
        color: white;
        border: 1px solid white;
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

        .main-title:hover::after {
            z-index: -1;
            -moz-animation: right-move 0.5s linear forwards;
            -o-animation: right-move 0.5s linear forwards;
            -webkit-animation: right-move 0.5s linear forwards;
            animation: right-move 0.5s linear forwards;
        }

        .main-title:hover::before {
            z-index: -1;
            -moz-animation: left-move 0.5s linear forwards;
            -o-animation: left-move 0.5s linear forwards;
            -webkit-animation: left-move 0.5s linear forwards;
            animation: left-move 0.5s linear forwards;
        }
/*End Main Title*/
/*End Global Rules*/
/*Start Header*/
header {
    background-color: white;
    -moz-box-shadow: 0px 0px 10px #ddd;
    -webkit-box-shadow: 0px 0px 10px #ddd;
    box-shadow: 0px 0px 10px #ddd;
}

    header .container {
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    header .logo {
        font-weight: bold;
        font-size: 26px;
        color: var(--main-color);
        height: 72px;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 40px;
    }
}

header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}

header .main-nav > li {
    color: var(--main-color);
    height: 72px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

    header .main-nav > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        position: relative;
        color: black;
        padding: 0 30px;
        overflow: hidden;
        font-size: 18px;
        transition: var(--main-transition);
    }

header .main-nav li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}

@media (max-width: 767px) {
    header .main-nav > li {
        height: 40px;
    }

        header .main-nav > li > a {
            padding: 5px;
            font-size: 14px;
            height: 100%;
        }
}

header .main-nav > li > a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 0px;
    left: -100%;
    background-color: var(--main-color);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    transition: var(--main-transition);
}

header .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

    header .main-nav > li > a:hover::before {
        left: 0;
    }



header .mega-menu {
    position: absolute;
    display: flex;
    top: calc(100% + 50px);
    left: 0;
    background: white;
    padding: 30px;
    border-bottom: 4px solid var(--main-color);
    z-index: -1;
    width: 100%;
    gap: 40px;
    opacity: 0;
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    header .mega-menu {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        gap: 0;
        padding: 20px;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    flex: 1;
    min-width: 250px;
}

    header .mega-menu .links li {
        position: relative;
    }

        header .mega-menu .links li:not(:last-child) {
            border-bottom: 1px solid #f6f9f9;
        }

@media (max-width: 767px) {

    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #f6f9f9;
    }
}



header .mega-menu .links li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: aliceblue;
    left: 0;
    z-index: -1;
    transition: var(--main-transition);
}

header .mega-menu .links li:hover:before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    font-size: 18px;
    padding: 15px;
    display: block;
    font-weight: bold;
}

    header .mega-menu .links li a i {
        margin-right: 10px;
    }

/*End Header*/


/*Start Landing*/
.landing {
    position: relative;
}

    .landing:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ddd;
        top: -40px;
        left: 0;
        z-index: -1;
        transform: skewY(-6deg);
        transform-origin: left top;
    }

    .landing .container {
        min-height: calc(100vh - 72px);
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 120px;
    }

    .landing .image img {
        position: relative;
        width: 600px;
        -moz-animation: up-and-down 5s linear infinite;
        -o-animation: up-and-down 5s linear infinite;
        -webkit-animation: up-and-down 5s linear infinite;
        animation: up-and-down 5s linear infinite;
    }

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .text {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -1px;
    margin: 0;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    line-height: 1.7;
    color: #666;
    font-size: 24px;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .go-down {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: var(--main-color);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    transition: var(--main-transition);
}

    .landing .go-down:hover {
        color: var(--main-color-alt);
    }

    .landing .go-down i {
        -moz-animation: bouncing 1.5s linear infinite;
        -o-animation: bouncing 1.5s linear infinite;
        -webkit-animation: bouncing 1.5s linear infinite;
        animation: bouncing 1.5s linear infinite;
    }



/*End Landing*/

/*Start Articles*/

.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

    .articles .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
    }

    .articles .box {
        -moz-box-shadow: 0px 0px 20px #e3d6d6;
        -webkit-box-shadow: 0px 0px 20px #e3d6d6;
        box-shadow: 0px 0px 20px #e3d6d6;
        -moz-border-radius: var(--main-radius);
        -webkit-border-radius: var(--main-radius);
        border-radius: var(--main-radius);
        position: relative;
        overflow: hidden;
        background-color: white;
        -moz-transition: transform var(--main-transition), box-shadow var(--main-transition);
        -o-transition: transform var(--main-transition), box-shadow var(--main-transition);
        -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition);
        transition: transform var(--main-transition), box-shadow var(--main-transition);
    }

        .articles .box:hover {
            transform: translateY(-10px);
            box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
        }

        .articles .box img {
            width: 100%;
            max-width: 100%;
        }

        .articles .box .content {
            padding: 20px;
            border-bottom: 1px solid #dbe7e7;
        }

            .articles .box .content h3 {
                margin: 0;
            }
            .articles .box .content p {
                margin: 10px 0 0;
                line-height: 1.5;
                color: #777;
            }

        .articles .box .info {
            position: relative;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--main-color);
        }

            .articles .box .info a {
                font-weight: bold;
                color: var(--main-color);
            }


        .articles .box:hover .info i {
            position: relative;
            -moz-animation: move-arrow-right 0.6s linear infinite;
            -o-animation: move-arrow-right 0.6s linear infinite;
            -webkit-animation: move-arrow-right 0.6s linear infinite;
            animation: move-arrow-right 0.6s linear infinite;
        }


/*End Articles*/
/*Start Gallery Section*/

.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

    .gallery .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
    }

    .gallery .box {


    }
        .gallery .box img {
            max-width: 100%;
            border: 15px solid white;
        }

    .gallery .box  {
    }
    /*End Gallery Section*/
    /*Start Animations*/
    @keyframes up-and-down {
        0%,100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@-moz-keyframes up-and-down {
    0%,100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@-webkit-keyframes up-and-down {
    0%,100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

/*-------------*/

@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%,60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-moz-keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%,60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%,60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/*-------------*/

@keyframes left-move {
    50% {
        left: 0;
        width: 14px;
        height: 14px;
    }

    100% {
        width: 51%;
        height: 100%;
        left: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@-moz-keyframes left-move {
    50% {
        left: 0;
        width: 14px;
        height: 14px;
    }

    100% {
        width: 51%;
        height: 100%;
        left: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@-webkit-keyframes left-move {
    50% {
        left: 0;
        width: 14px;
        height: 14px;
    }

    100% {
        width: 51%;
        height: 100%;
        left: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 14px;
        height: 14px;
    }

    100% {
        width: 51%;
        height: 100%;
        right: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@-moz-keyframes right-move {
    50% {
        right: 0;
        width: 14px;
        height: 14px;
    }

    100% {
        width: 51%;
        height: 100%;
        right: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

@-webkit-keyframes right-move {
    50% {
        right: 0;
        width: 14px;
        height: 14px;
    }

    100% {
        width: 51%;
        height: 100%;
        right: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

/*-------------*/

@keyframes move-arrow-right {
    100% {
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

}

@-moz-keyframes move-arrow-right {
}

@-webkit-keyframes move-arrow-right {
}
/*End Animations*/





