/*Start Variables*/
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ffffff;
}

/*End Variables*/

/*Start Global Rules*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

body {
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End Global Rules*/

/*Start Header*/

header {
    background-color: white;
    -moz-box-shadow: 0px 0px 10px #ddd;
    -webkit-box-shadow: 0px 0px 10px #ddd;
    box-shadow: 0px 0px 10px #ddd;
}

    header .container {
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    header .logo {
        font-weight: bold;
        font-size: 26px;
        color: var(--main-color);
        height: 72px;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 40px;
    }
}

header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}

header .main-nav > li {
    color: var(--main-color);
    height: 72px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

    header .main-nav > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        position: relative;
        color: black;
        padding: 0 30px;
        overflow: hidden;
        font-size: 18px;
        transition: var(--main-transition);
    }

@media (max-width: 767px) {
    header .main-nav > li {
        height: 40px;
    }

        header .main-nav > li > a {
            padding: 5px;
            font-size: 14px;
        }
}

header .main-nav > li > a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 0px;
    left: -100%;
    background-color: var(--main-color);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    transition: var(--main-transition);
}

header .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

    header .main-nav > li > a:hover::before {
        left: 0;
    }


header .mega-menu {
    position: absolute;
    display: flex;
    top: calc(100% + 50px);
    left: 0;
    background: white;
    padding: 30px;
    border-bottom: 4px solid var(--main-color);
    z-index: 100;
    width: 100%;
    gap: 40px;
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    transition: top var(--main-transition), opacity var(--main-transition);
}

    header .mega-menu .image img {
        max-width: 100%;
    }

    header .mega-menu .links {

    }

        header .mega-menu .links li {

        }

        header .mega-menu .links li:before {
            content: "";
        }

            header .mega-menu .links li:hover:before {

            }
            header .mega-menu .links li a {
                color: var(--main-color);
                font-size: 18px;
                padding: 15px;
                display: block;
                font-weight: bold;
            }

            header .mega-menu .links li a i {
                margin-right: 10px;
            }
            /*End Header*/
            /*Start Landing*/
            .landing {
                position: relative;
            }

    .landing:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ddd;
        top: -40px;
        left: 0;
        z-index: -1;
        transform: skewY(-6deg);
        transform-origin: left top;
    }

    .landing .container {
        min-height: calc(100vh - 72px);
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 120px;
    }

    .landing .image img {
        position: relative;
        width: 600px;
        -moz-animation: up-and-down 5s linear infinite;
        -o-animation: up-and-down 5s linear infinite;
        -webkit-animation: up-and-down 5s linear infinite;
        animation: up-and-down 5s linear infinite;
    }

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .text {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -1px;
    margin: 0;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    line-height: 1.7;
    color: #666;
    font-size: 24px;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .go-down {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: var(--main-color);
    -moz-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    transition: var(--main-transition);
}

    .landing .go-down:hover {
        color: var(--main-color-alt);
    }

    .landing .go-down i {
        -moz-animation: bouncing 1.5s linear infinite;
        -o-animation: bouncing 1.5s linear infinite;
        -webkit-animation: bouncing 1.5s linear infinite;
        animation: bouncing 1.5s linear infinite;
    }


/*Start Animations*/

@keyframes up-and-down {
    0%,100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@-moz-keyframes up-and-down {
    0%,100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@-webkit-keyframes up-and-down {
    0%,100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

/*-------------*/
@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%,60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-moz-keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%,60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40%,60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
/*End Animations*/






/*End Landing*/
/*header .container .main-nav .mega-menu {
                position: absolute;
                width: 100%;
                left: 0;
                padding: 30px;*/
/*background-color: white;*/
/*border-bottom: 3px solid var(--main-color);*/
/*z-index: -1;*/
/*display: flex;
                gap: 40px;
                top: calc(100% + 50px);*/
/*opacity: 0;*/
/*}
        header .main-nav .mega-menu img {
            max-width: 100%;
        }

        header .mega-menu .links {
            min-width: 250px;
            -ms-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }
        header .mega-menu .links li {
            position: relative;
        }
            header .mega-menu .links li:not(:last-child) {
                border-bottom: 1px solid #e9e6e6;
            }
            header .mega-menu .links li a {
                color: var(--main-color);
                font-weight: bold;
                display: block;
                padding: 15px;
                font-size: 18px;
                text-align: center;
                margin: 10px 0 -20px;
            }*/



